.about-container {
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 100px;
  overflow: hidden;
  background-color: var(--background-color-dark);
  flex-wrap: wrap-reverse;
}
.about-content {
  width: 40%;
  min-width: 25%;
}
.about-image-container {
  position: relative;
  width: 350px;
  height: 520px;
  overflow: hidden;
  border-radius: 8px;
  min-width: 300px;
}

.about-image-container:hover > .fg-image {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--default-transition-time);
  transition-timing-function: ease-out;
}

.bg-image {
  background-image: url(../../assets/filter.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.fg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/blackwhite.png);
  background-size: cover;
  background-position: center;
}

@media (prefers-color-scheme: light) {
  .about-container {
    background-color: var(--background-color);
  }
}

@media screen and (max-width: 768px){
  .about-image-container{
    display: none;
  }
}
