@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: min-content;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: min-content;
  }
}

.home2-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home2-title {
  animation: showup var(--slow-transition-time) infinite;
}
.outer-title {
  width: 0px;
  display:inline-flex;
  justify-content: center;
  overflow:hidden;
  white-space:nowrap;
  animation: reveal var(--slow-transition-time) infinite;
}
.inner-title {
  margin-left: -355px;
  animation: slidein var(--slow-transition-time) infinite;
}
.home2-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home2-content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(175, 163, 163, 0.7);
  z-index: var(--zindex-below-normal);

}
.home2-video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  inset: 0;
  z-index: var(--zindex-media);
}

.home2-image {
  background-image: url("https://images.unsplash.com/photo-1714508862788-44e45c4315d0");
  z-index: var(--zindex-media);
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media (prefers-reduced-motion: reduce) {
  .inner-title{
    animation: none;
    margin-left: 0px;
  }
  .outer-title{
    animation: none;
    opacity: 1;
    width: min-content;
  }
  .home2-title {
    animation: none;
    opacity: 1;
  }
}
