.contact-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-dark);
}

.contact-form {
    display: flex;
    flex-direction: column;
    column-gap: 2;
}