.contact-container {
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-dark);
}

.contact-form {
    display: flex;
    flex-direction: column;
    column-gap: 2;
}

@media (prefers-color-scheme: light) {
    .contact-container {
      background-color: var(--background-color);
    }
}
