.contact-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 2px solid red;
}

.contact-form {
    display: flex;
    flex-direction: column;
    column-gap: 2;
}