.home-container {
  height: 100%;
  flex-direction: column;
}

.home-face-container {
  position: fixed;
  top: 0;
  height: 100vh;
}

.hero-container {
  color: var(--text-color);
  overflow: hidden;
  position: relative;
}

.hero-container,
.home-face-container,
.home-container,
.about-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: auto;
}

.about-container {
  position: relative;
}

.blood-pipes-left,
.blood-pipes-right {
  position: fixed;
  fill: none;
  height: auto;
  stroke: var(--background-color-dark);
  z-index: var(--zindex-below-normal);
  stroke-width: 10px;
}

.blood-pipes-left {
  right: 58%;
}

.blood-pipes-right {
  left: 58%;
  transform: scaleX(-1);
}

.pipe-1 {
  top: 14%;
  width: 350px;
}

.pipe-2 {
  top: 21%;
  width: 350px;
}
