.home-container {
  height: 100%;
  flex-direction: column;
  position: relative;
}

.home-face-container {
  position: fixed;
  top: 0;
  height: 100vh;
}

.hero-container {
  color: var(--text-color);
  overflow: hidden;
  position: relative;
}

.hero-container,
.home-face-container,
.home-container,
.about-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: auto;
}

.about-container {
  position: relative;
}
