.home-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 0 33.3333%;
    color: var(--text-color);
    overflow: hidden;
    position: relative;
}

.home-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: auto;
}

@media (prefers-color-scheme: light) {
    .home-container {
        background-color: var(--white);
    }
}

/* .behind-face-image {
    z-index: var(--zindex-below-normal);
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
} */
