.project-card {
  width: 10%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-size: cover;
  position: relative;
  color: var(--white);
  z-index: 1;
  transition-property: width;
  overflow: hidden;
}
.project-card:hover::before {
  opacity: 1;
}
.project-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(82, 71, 71, 0.5);
  opacity: 0;
  z-index: -1;
  transition-property: opacity;
  transition-delay: var(--short-transition-time);
}

.counter {
  font-size: var(--font-large);
  position: absolute;
  margin: 0;
  word-break: break-all;
}
.project-card:hover .counter::before {
  content: "0";
}
.project-card:hover > .counter {
  font-size: var(--font-super-large);
  top: 0px;
  right: 0px;
}
.project-card > *:not(.counter) {
  opacity: 0;
  visibility: hidden;
}
.project-card:hover {
  background-color: lightblue;
  width: 45%;
}
.project-card:hover :is(.project-card-footer,.project-card-tech-stack)  {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0px, 0px, 0px);
}

.project-card-footer {
  position: absolute;
  bottom: 10px;
  left: 25px;
  text-align: left;
  transition-property: opacity, transform;
  transition-delay: calc(var(--short-transition-time)* 2), calc(var(--short-transition-time) * 2);
  transform: translate3d(-50%, 0px, 0);
}

.project-start-date,
.project-card-description {
  margin: 10px 0 0 5px;
  width: 50%;
}

.project-link {
  display: flex;
  gap: 5px;
}

.project-card-tech-stack {
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 18px;
  right: 25px;
  transition-property: opacity;
  transition-delay: calc(var(--short-transition-time)* 3);
}

.project-card, .project-card:hover::before, .project-card-footer, .project-card-tech-stack{
  transition-duration: var(--short-transition-time);
  transition-timing-function: ease-in-out;
}
