.project-card {
  width: 40vw;
  min-width: 320px;
  aspect-ratio: 16/9;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  color: var(--background-color);
}

.project-background-img {
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: cover;
  z-index: var(--zindex-media);
}

.project-card-tag {
  position: absolute;
  bottom: 50px;
  right: 25px;
  z-index: var(--zindex-above-normal);
}

.project-card-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: left;
  background-color: rgba(82, 71, 71, 0.5);
}

.project-start-date,
.project-card-description {
  margin: 10px 0 0 5px;
  width: 50%;
}

.project-card-links {
  display: flex;
  gap: 30px;
}

.project-link {
  display: flex;
  gap: 5px;
}

.project-card-tech-stack {
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 10px;
  right: 25px;
}
