.contact-wrapper {
    justify-content: center;
    align-items: center;
    background-color: var(--alt-background-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
    column-gap: 2;
}

@media (prefers-color-scheme: light) {
    .contact-wrapper {
      background-color: var(--light-third);
    }
  }