.navbar-wrapper {
    position: fixed;
    top: 15px;
    z-index: var(--zindex-navbar);
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-around;
}
.navbar-links {
    display: flex;
    gap: 2rem;
}