@keyframes blinking {
  0% {
    clip-path: ellipse(50% 2% at 50% 70%);
  }
  25% {
    clip-path: ellipse(50% 48% at 50% 50%);
  }
  50% {
    clip-path: ellipse(50% 48% at 50% 50%);
  }
  75% {
    clip-path: ellipse(50% 48% at 50% 50%);
  }
  100% {
    clip-path: ellipse(50% 48% at 50% 50%);
  }
}

.face {
  --imagesize-hair: calc(var(--base-size) * 4.5);
  --imagesize-beard: calc(var(--imagesize-hair) * 2);
  --imagesize-eyes: calc(var(--base-size) * 2.94);
  --imagesize-eye: calc(var(--imagesize-eyes) / 3.5);
  overflow: hidden;
  width: var(--imagesize-beard);
  aspect-ratio: 1;
  position: relative;
}


.svg {
  width: 0;
  height: 0;
}

.face > * {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.left-eye,
.right-eye,
.eyes,
.beard,
.hair,
.left-eyeball-shine,
.right-eyeball-shine {
  background-color: var(--background-color);
  z-index: var(--zindex-above-normal);
}

.hair {
  top: 0;
  width: var(--imagesize-hair);
  height: calc(var(--imagesize-hair) * 0.704);
  clip-path: url(#hair-clip);
}

.beard {
  top: calc(var(--base-size) * 2.91);
  width: var(--imagesize-beard);
  height: calc(var(--imagesize-beard) * 0.601);
  transform: scaleX(-1);
  left: 0%;
  clip-path: url(#beard-clip);
}

.eyes {
  top: calc(var(--base-size) * 2.56);
  width: var(--imagesize-eyes);
  height: calc(var(--imagesize-eyes) * 0.297);
  clip-path: url(#eye-clip);
}

.eyes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--base-size) * 1.41);
  margin-left: calc(var(--base-size) * 0.07);
  gap: calc(var(--imagesize-eye));
  top: calc(var(--imagesize-eyes) * 1.01);
}

.left-eye,
.right-eye {
  width: var(--imagesize-eye);
  height: calc(var(--imagesize-eye) * 0.506);
  clip-path: ellipse(50% 48% at 50% 50%);
  animation: blinking 2s ease-in-out 1s infinite alternate;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-eyeball-shine,
.right-eyeball-shine {
  --width: 60%;
  height: calc(var(--width));
  width: calc(var(--width) / 2);
  border-radius: 100%;
  position: relative;
}

.left-eyeball-shine::before,
.right-eyeball-shine::before {
  content: "";
  position: absolute;
  border: 10px double var(--background-color-dark);
  width: 20%;
  height: 20%;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 2000px) {
  .face {
    --base-size: 4vw;
  }
}

@media (min-width: 1200px) and (max-width: 1999px) {
  .face {
    --base-size: 5vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .face {
    --base-size: 6vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .face {
    --base-size: 8vw;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .face {
    --base-size: 10vw;
  }
}

@media (max-width: 575px) {
  .face {
    --base-size: 12vw;
  }
  .left-eyeball-shine::before,
  .right-eyeball-shine::before {
    border: 5px double var(--background-color);
  }
}

@media (prefers-color-scheme: light) {
  .left-eye,
  .right-eye,
  .eyes,
  .beard,
  .hair,
  .left-eyeball-shine,
  .right-eyeball-shine {
    background-color: var(--background-color-dark);
  }

  .left-eyeball-shine::before,
  .right-eyeball-shine::before {
    border: 10px double var(--background-color);
  }
}
