.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.hand-animation-section {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hand-animation-section svg {
  position: fixed;
  width: 55vw;
  top: 50%;
  left: 38%;
  z-index: var(--zindex-high);
}

.project-heading {
  font-size: var(--dynamic-font-large);
  text-transform: uppercase;
  display: flex;
  position: relative;
}
