.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.hand-animation-section {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project-heading {
  font-size: var(--dynamic-font-large);
  text-transform: uppercase;
  display: flex;
  position: relative;
}

.project-card-container{
  height: 200vh;
  display: flex;
  border-top: 5px solid red;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hand-animation-section svg {
  position: fixed;
  bottom: 8.4%;
  left: 38%;
  z-index: var(--zindex-high);
}
