.project-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hand-animation-section{
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hand-animation-section svg {
  position: fixed;
  width: 55vw;
  top: 50%;
  left: 38%;
  z-index: var(--zindex-high);
}

.project-heading {
  /*Todo: Change this to a variable and put that variable into index.css */
  font-size: calc(1.5rem + 3vw);
  text-transform: uppercase;
  display: flex;
}