.loading-container {
  z-index: var(--zindex-loading);
  background-color: var(--background-color);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  animation: fade var(--default-transition-time) ease-in-out forwards;
  animation-delay: calc(var(--default-transition-time) * 1);
}

.loader {
  width: 100px;
  height: 100px;
  border: 10px solid var(--text-overall);
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner 0.8s ease-in-out infinite alternate;
}

@keyframes spinner {
  to {
    transform: rotate(0) scale(1);
  }
  from {
    transform: rotate(360deg) scale(1.2);
  }
}

@keyframes fade {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
