.svg-container {
  --svg-color: var(--background-color);
  font-weight: 600;
  width: 20rem;
}

.svg-animated-text {
  font-size: 5em;
  animation: draw calc(var(--default-transition-time)*2) infinite ease-in-out alternate;
}

@media (prefers-color-scheme: light) {
  .svg-animated-text {
    --svg-color: var(--text-overall);
  }
}

@keyframes draw {
  0% {
    fill: transparent;
    stroke: var(--svg-color);
    stroke-dashoffset: 0%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: transparent;
    stroke: var(--svg-color);
  }
  80% {
    fill: transparent;
    stroke: var(--svg-color);
    stroke-width: 3;
  }
  100% {
    fill: var(--svg-color);
    stroke: transparent;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
