:root {
  --background-color: floralwhite;
  --background-color-dark: #414446;
  --white: rgba(255, 255, 255, 1);
  --black: #070707;

  --text-overall: #213547;
  --text-black: #000000;
  --text-shadow-dark: 0 0 10px rgba(0, 0, 0, 0.5);
  --text-shadow-light: 0 0 10px rgba(255, 255, 255, 0.5);

  --base-size: 5vw;
  --small-base: 3vw;
  --font-base: 3vw;
  --dynamic-font-large: calc(1.5rem + var(--small-base));
  --dynamic-font-medium: calc(0.2rem + var(--font-base));
  --dynamic-font-small: calc(0.22 * var(--font-base) + 0.3em);

  --hover-link: rgba(198, 194, 194, 0.95);
  --hover-button: rgba(198, 194, 194, 0.95);
  --light-first: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  --light-second: #ff6b6b;
  --light-third: #cec5c5;

  --hand-movement: 40%;

  --short-transition-time: 0.4s;
  --default-quick-transition-time: 0.7s;
  --default-transition-time: 1s;
  --medium-transition-time: 2s;
  --long-transition-time: 4s;
  --slow-transition-time: 7s;

  --zindex-media: -2;
  --zindex-below-normal: -1;
  --zindex-above-normal: 1;
  --zindex-high: 2;
  --zindex-navbar: 100;
  --zindex-modal: 200;
  --zindex-modal-content: 300;
  --zindex-cursor: 380;
  --zindex-loading: 400;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color-scheme: light dark;
  color: var(--background-color);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  cursor: none;
}

a {
  font-weight: 500;
  color: var(--pallete-first);
  text-decoration: inherit;
}
a:hover {
  color: var(--hover-color);
}

/* h1, h2, h3, h4, h5, h6, */
:where(p) {
  word-break: break-word;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

p{
  font-size: var(--dynamic-font-small);
  font-weight: 400;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: var(--dynamic-font-medium);
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid var(--black);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

button:hover {
  background-color: var(--hover-button);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-overall);
    background-color: var(--background-color);
  }
  a:hover {
    color: var(--hover-color);
  }
  button {
    background-color: var(--dark-first);
  }
}

@media screen and (max-width: 768px) {
  :root{
    --hand-movement: 80%;
  }
  h1 {
    font-size: 1.5em;
  }
}

.section {
  display: flex;
  height: 100vh;
}
