:root {
  --background-color: rgba(255, 255, 255, 0.87);
  --alt-background-color: #414446;
  --white: #ffffff;
  --black: #070707;
  --text-overall: #213547;
  
  --hover-link: rgba(198, 194, 194, 0.95);
  --hover-button: rgba(198, 194, 194, 0.95);
  --light-first: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);;
  --light-second: #ff6b6b;
  --light-third: #f5f5f5;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color-scheme: light dark;
  color: var(--background-color);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--pallete-first);
  text-decoration: inherit;
}
a:hover {
  color: var(--hover-color);
}

/* h1, h2, h3, h4, h5, h6, */
:where(p) {
  word-break: break-word;
}

body, html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--black);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

button:hover {
  background-color: var(--hover-button);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-overall);
    background-color: var(--white);
  }
  a:hover {
    color: var(--hover-color);
  }
  button {
    background-color: var(--dark-first);
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
}
