:root {
  --base-size: 5vw; /* Using viewport width to scale base size */
}

.avatar-wrapper {
  --imagesize-hair: calc(var(--base-size) * 4.5);
  --imagesize-beard: calc(var(--imagesize-hair) * 2);
  --imagesize-eyes: calc(var(--base-size) * 2.94);
  --imagesize-eye: calc(var(--imagesize-eyes) / 3.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face {
  overflow: hidden;
  width: var(--imagesize-beard);
  height: calc(var(--base-size) * 7.78); /* Adjusted to maintain aspect ratio */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face > * {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.hair {
  top: 0;
  width: var(--imagesize-hair);/* Aspect ratio 1:1 */
}

.beard {
  top: calc(var(--base-size) * 2.91);
  width: var(--imagesize-beard); /* Aspect ratio 1:1 */
}

.eyes {
  top: calc(var(--base-size) * 2.56);
  width: var(--imagesize-eyes);/* Aspect ratio 1:1 */
}

.left-eye, .right-eye {
  width: var(--imagesize-eye);/* Aspect ratio 1:1 */
}

.eyes-container, .eye-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--base-size) * 1.41);
}

.eyes-container {
  gap: calc(var(--imagesize-eye) * 1.22);
  z-index: 1;
}

.eye-container {
  gap: calc(var(--imagesize-eye) * 1);
}

.left-eye-container, .right-eye-container {
  width: calc(var(--base-size) * 0.67);
  height: calc(var(--base-size) * 1);
  clip-path: ellipse(53% 21.5% at 50% 50%);
}

.left-eyeball, .right-eyeball {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
}

.left-eyeball-shine, .right-eyeball-shine {
  width: 30%;
  height: 20%;
  background: rgb(192, 176, 176);
  position: absolute;
  left: 35%;
  top: 40%;
  border-radius: 100%;
  overflow: hidden;
}
